@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&display=swap');

@keyframes pending {
    25% {
        transform: translateX(51%);
    }

    50% {
        transform: scaleY(5) translateY(-20%);
    }

    75% {
        transform: translateX(-49%);
    }
}

@keyframes fade {
    50% {
        opacity: 40%;
    }
}

@keyframes colorFlash {
    50% {
        filter: hue-rotate(180deg) brightness(150%);
        color: #000000;
    }
}

@keyframes divEndShadow {
    50% {
        filter: drop-shadow(0.2dvw 0.2dvh .4dvw white) contrast(300%);
    }
}

@keyframes spin {
    50% {
        transform: rotate(360deg);
    }
}

@keyframes inverse {
    50% {
        filter: invert(100%);
    }
}

@keyframes bigSmall {
    25% {
        background: radial-gradient(orange 3%, blue 5%);
    }

    37.5% {
        background: radial-gradient(orange 10%, blue 20%);
    }

    45% {
        background: radial-gradient(orange 30%, blue 50%);
    }

    50% {
        transform: scale(1.4);
        outline: .1dvw solid rgb(36, 34, 34);
        background: radial-gradient(orange 50%, blue 90%);
        font-size: 2dvw;
    }
}

@keyframes shiftColor {
    7% {
        background: linear-gradient(red, skyblue 90%);
    }

    14% {
        background: linear-gradient(red, skyblue 80%);
    }

    21% {
        background: linear-gradient(red, skyblue 70%);
    }

    28% {
        background: linear-gradient(red, skyblue 60%);
    }

    35% {
        background: linear-gradient(red, skyblue 50%);
    }

    42% {
        background: linear-gradient(red, skyblue 40%);
    }

    49% {
        background: linear-gradient(red, skyblue 30%);
    }

    56% {
        background: linear-gradient(red, skyblue 20%);
    }

    63% {
        background: linear-gradient(red, skyblue 30%);
    }

    70% {
        background: linear-gradient(red, skyblue 40%);
    }

    77% {
        background: linear-gradient(red, skyblue 40%);
    }

    84% {
        background: linear-gradient(red, skyblue 60%);
    }

    91% {
        background: linear-gradient(red, skyblue 80%);
    }

    95% {
        background: linear-gradient(red, skyblue);
    }

    100% {
        background: linear-gradient(red, skyblue);
    }
}

@keyframes wipe {
    50% {
        transform: rotate(-40deg) scaleY(.8);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    border-radius: 1dvh;
}

body {
    background: conic-gradient(#0091ff, #b62d2d);
    height: 100dvh;
    width: 70dvw;
    padding: 1dvw;
    margin: 0 auto;
}

h1 {
    background: #ffffff55;
    border: 1dvw double white;
    border-radius: 1dvh;
    font-family: "Tourney";
    font-size: 8dvw;
    text-align: center;
    margin-bottom: 1dvh;
}

main {
    display: flex;
    flex-flow: column;
}

section#display {
    font-family: "Tiny5", sans-serif;
    color: rgb(17, 164, 17);
    width: 100%;
    margin: 0 auto;
    grid-row: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    max-width: max-content;
}

div#display-box {
    padding: 1px;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
    margin-bottom: .4%;
}

section#user-space {
    display: flex;
    justify-content: center;
    margin: 2%;
    width: 100%;
    align-self: center;
}

div#user-box {
    border: 1.5dvw outset #990000;
    border-radius: 100dvh;
    width: 90%;
    aspect-ratio: 2.7;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ffffff, #d3d2b0);
    flex: 0 2 auto;
}

div#display-box>div {
    border: 1dvw white groove;
}

div.number {
    font-size: 3dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    height: 100%;
    width: 100%;
    min-width: 16vi;
    max-height: 24dvh;
    max-width: 38dvw;
}

#min-value,
#max-value {
    position: relative;
    word-break: break-all;
    font-size: 5dvw;
    height: 100%;
    padding: .5dvw;
}

#n-value {
    font-size: 2.5dvw;
    aspect-ratio: 2.5;
    min-width: max-content;
}

div#message {
    padding: 3dvh;
    text-align: center;
    grid-row: 2;
    grid-column: span 3;
    font-size: 2.2dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    aspect-ratio: 4;
    margin: 0 0 -2% 0;
}

div#pending {
    animation: pending 5s infinite linear;
    width: 100%;
}

input#guess {
    font-weight: bold;
    height: 20%;
    aspect-ratio: 3;
    max-width: 500px;
    text-align: center;
    appearance: textfield;
    translate: 0 .75dvh;
    padding: 0;
}

/* to remove number-type input's arrows in not firefox */
::-webkit-inner-spin-button {
    appearance: none;
}

input#guess:focus {
    outline: .65dvw outset yellow;
}

section#x-ception {
    display: flex;
    justify-content: space-evenly;
}

button {
    border: .6dvw outset gray;
    font-family: "Tourney", sans-serif;
    font-weight: bold;
    width: 8dvw;
    aspect-ratio: 1;
    font-size: 1.5dvw;
    margin: 0 0 2% 0;
}

button#high-low {
    font-size: 1.7dvw;
    background: linear-gradient(red, skyblue);
}

button#high-low #flip {
    position: absolute;
    transform: rotate(180deg);
    left: 0;
}

button#even-odd {
    background: linear-gradient(white 50%, black 50%);
}

span#odd {
    color: white;
}

button#sub-tractor {
    font-size: 1.7dvw;
    color: white;
    background: radial-gradient(orange 1%, blue 1%);
}

button#dividends {
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5dvw;
    background: linear-gradient(90deg, red 10%, orange 10%, yellow 20%, green 20%, blue 30%, indigo 40%, violet 60%, white 65%, white 80%, black 90%);
}

#high-low>span {
    filter: drop-shadow(.4dvw .6dvh .4dvw white);
}

#dividends>span {
    filter: drop-shadow(0.2dvw 0.2dvh .4dvw black) contrast(300%);
}

div#button-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
}

div.deco-button {
    width: 3dvw;
    aspect-ratio: 1;
    background: radial-gradient(#ffaaaa, #ff0000);
    border: outset .25dvw gray;
    border-radius: 50%;
    position: relative;
    right: -8dvw;
}

div#but-one {
    grid-row: 1;
    grid-column: 2;
}

div#but-two {
    background: radial-gradient(#aaffaa, #018e01);
    grid-row: 2;
    grid-column: 3;
}

div#but-three {
    background: radial-gradient(#aaaaff, #0000ff);
    grid-row: 2;
    grid-column: 1;
}

div#confirm {
    background: radial-gradient(#aaffaa, #018e01);
    scale: .55;
    translate: -250% -20%;
    animation: fade 2s infinite;
}

div>p {
    text-align: left;
    font-size: 1.5dvw;
    animation: fade 2s infinite;
    width: 180%;
    margin-left: 30%;
}

div.centerConfirm {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

div#pad {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    position: relative;
    right: 8dvw;
}

div.padbox {
    width: 2.8dvw;
    aspect-ratio: 1;
    background: linear-gradient(#393737, gray)
}

div#pad-one {
    grid-row: 1;
    grid-column: 2;
    rotate: 90deg;
    border-radius: 10% 0 0 10%;
    background: linear-gradient(185deg, #393737, gray);
    border: 0.2dvw inset black;
    border-right: none;
}

div#pad-two {
    grid-row: 2;
    grid-column: 1;
    border-radius: 10% 0 0 10%;
    background: linear-gradient(-45deg, #393737, gray);
    border: 0.2dvw inset black;
    border-right: none;
}

div#pad-three {
    grid-row: 2;
    grid-column: 2;
    background: radial-gradient(gray, #393737);
    border: .1dvw outset black;
    border-right: none;
    border-bottom: none;
    border-radius: 2% 2% 6% 2%;

}

div#pad-four {
    grid-row: 2;
    grid-column: 3;
    border-radius: 0 10% 10% 0;
    background: linear-gradient(-45deg, #393737, gray);
    border: 0.2dvw inset black;
    border-left: none;
}

div#pad-five {
    grid-row: 3;
    grid-column: 2;
    rotate: -90deg;
    border-radius: 10% 0 0 10%;
    background: linear-gradient(45deg, #393737, gray);
    border: 0.2dvw inset black;
    border-right: none;
}

div#start-reset {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    position: absolute;
    align-self: start;
}

div#start,
#reset {
    background: linear-gradient(93deg, #939393 40%, #393737 60%);
    width: 1dvw;
    aspect-ratio: .29;
    margin: 0 1.4dvw;
    border-radius: 100dvh;
    rotate: 20deg;
    cursor: pointer;
}

div#start {
    grid-row: 2;
    grid-column: 1;
}

div#reset {
    grid-row: 2;
    grid-column: 2;
}

p#start-text,
#reset-text {
    font-size: 1.5dvw;
    translate: -1dvw;
    animation: none;
    margin-top: 1dvh;
}

p#start-text {
    grid-row: 1;
    grid-column: 1;
}

p#reset-text {
    grid-row: 1;
    grid-column: 2;
}

.wipe {
    animation: wipe .75s infinite;
}

.spin {
    animation: spin 1.5s infinite;
}

.colorFlash {
    animation: colorFlash 2s infinite;
}

.colorFlashHov:hover {
    animation: colorFlash 2s infinite;
}

#dividends.colorFlashHov:hover>span {
    animation: divEndShadow 2s infinite;
}

.inverse:hover {
    animation: inverse 2s infinite;
}

.bigSmall:hover {
    animation: bigSmall 1.5s infinite;
}

.shiftColor:hover {
    animation: shiftColor 1s infinite;
}

/* media query for resizing to keep page contained on wider screens */
@media (width > 1000px) {
    body {
        margin-top: -9%;
        width: 65%;
        scale: .6;
    }
    div#message {
        font-size: 2dvw;
    }
    input#guess {
        font-size: 1.8dvw;
    }
}