@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

@keyframes pending {
    25% {
        transform: translateX(29dvw);
    }
    50% {
        transform: scaleY(5) translateY(-1.5dvh);
    }
    75% {
        transform: translateX(-29dvw);
    }
}

@keyframes fade {
    50% {
        opacity: 40%;
    }
}

@keyframes colorFlash {
    50% {
        filter: hue-rotate(180deg) brightness(150%);
    }
}

@keyframes spin {
    50% {
        transform: rotate(360deg);
    }
}

@keyframes inverse {
    50% {
        filter: invert(100%);
    }
}

@keyframes bigSmall {
    25% {
        background: radial-gradient(orange 3%, blue 5%);
    }
    37.5% {
        background: radial-gradient(orange 10%, blue 20%);
    }
    45% {
        background: radial-gradient(orange 30%, blue 50%);
    }
    50% {
        transform: scale(1.5) translateY(-4.2dvh);
        border: 10px inset gray;
        background: radial-gradient(orange 50%, blue 90%);
        font-size: 3.5dvw;
    }
}

@keyframes shiftColor {
    7% {
        background: linear-gradient(red , skyblue 90%);
    }
    14% {
        background: linear-gradient(red, skyblue 80%);
    }
    21% {
        background: linear-gradient(red, skyblue 70%);
    }
    28% {
        background: linear-gradient(red, skyblue 60%);
    }
    35% {
        background: linear-gradient(red, skyblue 50%);
    }
    42% {
        background: linear-gradient(red , skyblue 40%);
    }
    49% {
        background: linear-gradient(red, skyblue 30%);
    }
    56% {
        background: linear-gradient(red, skyblue 20%);
    }
    63% {
        background: linear-gradient(red, skyblue 30%);
    }
    70% {
        background: linear-gradient(red, skyblue 40%);
    }
    77% {
        background: linear-gradient(red , skyblue 40%);
    }
    84% {
        background: linear-gradient(red, skyblue 60%);
    }
    91% {
        background: linear-gradient(red, skyblue 80%);
    }
    95% {
        background: linear-gradient(red, skyblue);
    }
    100% {
        background: linear-gradient(red, skyblue);
    }
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #4400ff;
    height: 100dvh;
    padding: 1dvw;
}

h1 {
    font-size: 20dvw;
    text-align: center;
}

section#display {
    font-family: "Tiny5", sans-serif;
    color: rgb(17, 164, 17);
}

div#display-box {
    border: 2px solid black;
    height: 40dvh;
    padding: 1px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
}

section#user-space {
    display: flex;
    justify-content: center;
}

div#user-box {
    border: 14px inset #990000;
    border-radius: 10000000% 10000000%  10000000% 10000000%;
    height: 30dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ffffff, #d3d2b0);
}

div.number {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px white solid;
    background: #000000;
}

div#message {
    padding: 3dvh;
    text-align: center;
    grid-row: 2;
    grid-column: span 3;
    font-size: 3.2dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px white solid;
    background: #000000;
}

div#pending {
    animation: pending 5s infinite linear;
}

input#guess {
    width: 30dvw;
    max-width: 160px;
    text-align: center;
}

input#guess:focus {
    outline: 8px inset yellow;
}

section#x-ception {
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 15dvw;
    aspect-ratio: 1;
    font-size: 4dvw;
}

button#high-low {
    color: black;
    font-weight: bold;
    font-size: 3.5dvw;
    background: linear-gradient(red, skyblue);
}

button#even-odd {
    color: black;
    background: linear-gradient(white 50%, black 50%);
}

span#odd {
    color: white;
}

button#sub-tractor {
    font-size: 3.5dvw;
    color: white;
    background: radial-gradient(orange 1%, blue 1%);
}

button#dividends {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 2.8dvw;
    background: linear-gradient(90deg, red 10%, orange 10%, yellow 20%, green 20%, blue 30%, indigo 40%, violet 60%, white 65%, white 80%, black 90%);
}

div#button-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
}

div.deco-button {
    width: 4.5dvw;
    aspect-ratio: 1;
    background: radial-gradient(#ffaaaa, #ff0000);
    border: outset 3px gray;
    border-radius: 50%;
    position: relative;
    right: -10dvw;
}

div#but-one {
    grid-row: 1;
    grid-column: 2;
}

div#but-two {
    background: radial-gradient(#aaffaa, #018e01);
    grid-row: 2;
    grid-column: 3;
}

div#but-three {
    background: radial-gradient(#aaaaff, #0000ff);
    grid-row: 2;
    grid-column: 1;
}

div#confirm {
    background: radial-gradient(#aaffaa, #018e01);
    scale: .45;
    display: inline;
    translate: -13dvw -1.6dvh;
    animation: fade 2s infinite;
}

div > p {
    text-align: left;
    font-size: 2dvw;
    animation: fade 2s infinite;
}

div#pad {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    position: relative;
    right: 10dvw;
}

div.padbox {
    width: 3dvw;
    aspect-ratio: 1;
    background: linear-gradient(#393737, gray)
}

div#pad-one {
    grid-row: 1;
    grid-column: 2;
    rotate: 90deg;
    border-radius: 10% 0 0 10%;
    background: linear-gradient(185deg, #393737, gray);
    border: 0.2dvw inset black;
    border-right: none;
}

div#pad-two {
    grid-row: 2;
    grid-column: 1;
    border-radius: 10% 0 0 10%;
    background: linear-gradient(-45deg, #393737, gray);
    border: 0.2dvw inset black;
    border-right: none;
}

div#pad-three {
    grid-row: 2;
    grid-column: 2;
    background: radial-gradient(gray, #393737);
    border: .1dvw outset black;
    border-right: none;
    border-bottom: none;
    /* border-bottom: 1px inset black; */
    border-radius: 2% 2% 6% 2%;

}

div#pad-four {
    grid-row: 2;
    grid-column: 3;
    border-radius: 0 10% 10% 0;
    background: linear-gradient(-45deg, #393737, gray);
    border: 0.2dvw inset black;
    border-left: none;
}

div#pad-five {
    grid-row: 3;
    grid-column: 2;
    rotate: -90deg;
    border-radius: 10% 0 0 10%;
    background: linear-gradient(45deg, #393737, gray);
    border: 0.2dvw inset black;
    border-right: none;
}

.spin {
    animation: spin 1.5s infinite;
}

.colorFlash {
    animation: colorFlash 2s infinite;
}

.colorFlashHov:hover {
    animation: colorFlash 2s infinite;
}

.inverse:hover {
    animation: inverse 2s infinite;
}

.bigSmall:hover {
    animation: bigSmall 1.5s infinite;
}

.shiftColor:hover {
    animation: shiftColor 1s infinite;
}

.grayOut {
    filter: grayscale(200%);
}